{% extends 'templates/app.twig' %}

{% block content %}
	<div class="module">
		<div class="module-head">
			<h3>
				Todos os Membros</h3>
		</div>
		<div class="module-option clearfix">
			<form>
				<div class="input-append pull-left">
					<input type="text" class="span3" placeholder="Pesquise Pelo Nome...">
					<button type="submit" class="btn">
						<i class="icon-search"></i>
					</button>
				</div>
			</form>

		</div>
		<div class="module-body">
			<div class="row-fluid">
				<div class="span6">

					<div class="media user">
						<a class="media-avatar pull-left" href="#">
							<img src="{{base_url()}}/images/logo/miragina.jpg">
						</a>
						<a href="#">
							<div class="media-body">
								<h3 class="media-title">
									Miragina
								</h3>
								<p>
									<small class="muted">Alimentos</small>
								</p>

							</div>
						</a>
					</div>
				</div>
				<div class="span6">

					<div class="media user">
						<a class="media-avatar pull-left" href="#">
							<img src="{{base_url()}}/images/logo/miragina.jpg">
						</a>
						<a href="#">
							<div class="media-body">
								<h3 class="media-title">
									Miragina
								</h3>
								<p>
									<small class="muted">Alimentos</small>
								</p>

							</div>
						</a>
					</div>
				</div>

			</div>
			<!--/.row-fluid-->
			<div class="row-fluid">
				<div class="span6">

					<div class="media user">
						<a class="media-avatar pull-left" href="#">
							<img src="{{base_url()}}/images/logo/miragina.jpg">
						</a>
						<a href="#">
							<div class="media-body">
								<h3 class="media-title">
									Miragina
								</h3>
								<p>
									<small class="muted">Alimentos</small>
								</p>

							</div>
						</a>
					</div>
				</div>
				<div class="span6">

					<div class="media user">
						<a class="media-avatar pull-left" href="#">
							<img src="{{base_url()}}/images/logo/miragina.jpg">
						</a>
						<a href="#">
							<div class="media-body">
								<h3 class="media-title">
									Miragina
								</h3>
								<p>
									<small class="muted">Alimentos</small>
								</p>

							</div>
						</a>
					</div>
				</div>

			</div>
			<!--/.row-fluid-->
			<div class="row-fluid">
				<div class="span6">

					<div class="media user">
						<a class="media-avatar pull-left" href="#">
							<img src="{{base_url()}}/images/logo/miragina.jpg">
						</a>
						<a href="#">
							<div class="media-body">
								<h3 class="media-title">
									Miragina
								</h3>
								<p>
									<small class="muted">Alimentos</small>
								</p>

							</div>
						</a>
					</div>
				</div>
				<div class="span6">

					<div class="media user">
						<a class="media-avatar pull-left" href="#">
							<img src="{{base_url()}}/images/logo/miragina.jpg">
						</a>
						<a href="#">
							<div class="media-body">
								<h3 class="media-title">
									Miragina
								</h3>
								<p>
									<small class="muted">Alimentos</small>
								</p>

							</div>
						</a>
					</div>
				</div>

			</div>
			<!--/.row-fluid-->
			<div class="row-fluid">
				<div class="span6">

					<div class="media user">
						<a class="media-avatar pull-left" href="#">
							<img src="{{base_url()}}/images/logo/miragina.jpg">
						</a>
						<a href="#">
							<div class="media-body">
								<h3 class="media-title">
									Miragina
								</h3>
								<p>
									<small class="muted">Alimentos</small>
								</p>

							</div>
						</a>
					</div>
				</div>
				<div class="span6">

					<div class="media user">
						<a class="media-avatar pull-left" href="#">
							<img src="{{base_url()}}/images/logo/miragina.jpg">
						</a>
						<a href="#">
							<div class="media-body">
								<h3 class="media-title">
									Miragina
								</h3>
								<p>
									<small class="muted">Alimentos</small>
								</p>

							</div>
						</a>
					</div>
				</div>

			</div>
			<!--/.row-fluid-->
			<br/>


			{% include 'templates/partials/pagination.twig' %}
		</div>
	</div>
{% endblock %}
