{% extends 'templates/app.twig' %}

{% block content %}

	<div class="module module-login span5 offset1">
		<form class="form-vertical" action="{{ path_for('auth.password.change') }}" method="POST" autocomplete="off">
			<div class="module-head">
				<h3>Alterar Senha secreta</h3>
			</div>
			<div class="module-body">
				<div class="control-group">
					<div class="controls row-fluid">
						<label for="password_old">Senha Atual</label>
						<input class="span12" type="password" name="password_old" id="password_old" value="">
						{% if errors.password_old %}
							<span class="help-block">
								{{ errors.password_old | first }}
							</span>
						{% endif %}
					</div>
				</div>
				<div class="control-group" {{ errors.password ? 'has-error' : ''}}>
					<div class="controls row-fluid">
						<label for="novasenha">Nova Senha</label>
						<input class="span12" type="password" name="password" id="password" value="">
						{% if errors.password %}
							<span class="help-block">
								{{ errors.password | first }}
							</span>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="module-foot">
				<div class="control-group">
					<div class="controls clearfix">
						<button type="submit" class="btn btn-primary pull-right">Alterar</button>
						{{ csrf.field | raw }}
					</div>
				</div>
			</div>
		</form>
	</div>

{% endblock %}
