<div class="sidebar">
	<ul class="widget widget-menu unstyled">
		<li class="active">
			<a href="{{path_for('auth.painel')}}">
				<i class="menu-icon icon-dashboard"></i>INÍCIO
			</a>
		</li>
		{# <li>
											<a href="{{path_for('auth.painel.users')}}">
												<i class="menu-icon icon-user"></i>Usuários
								
											</a>
										</li> #}
		<li>
			<a href="{{path_for('auth.painel.mensagens')}}">
				<i class="menu-icon icon-inbox"></i>Mensagens
				<b class="label green pull-right">
					2</b>
			</a>
		</li>

		<li>
			<a href="{{path_for('auth.painel.task')}}">
				<i class="menu-icon icon-tasks"></i>Atividades
				<b class="label orange pull-right">
					3</b>
			</a>
		</li>
	</ul>
	<!--/.widget-nav-->
	<ul class="widget widget-menu unstyled">
		<li>
			<a class="collapsed" data-toggle="collapse" href="#toggleempresa">
				<i class="menu-icon icon-building"></i>
				<i class="icon-chevron-down pull-right"></i>
				<i class="icon-chevron-up pull-right"></i>EMPRESAS
			</a>
			<ul id="toggleempresa" class="collapse unstyled">
				<li>
					<a href="{{path_for('auth.painel.cempresa')}}">
						<i class="icon-inbox"></i>
						Cadastrar Nova Empresa
					</a>
				</li>

				<li>
					<a href="{{path_for('auth.painel.users')}}">
						<i class="icon-inbox"></i>
						Gerenciar Empresas
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="collapsed" data-toggle="collapse" href="#toggleproduct">
				<i class="menu-icon icon-flag"></i>
				<i class="icon-chevron-down pull-right"></i>
				<i class="icon-chevron-up pull-right"></i>PRODUTOS
			</a>
			<ul id="toggleproduct" class="collapse unstyled">
				<li>
					<a href="{{path_for('auth.painel.cproduto')}}">
						<i class="icon-inbox"></i>
						Cadastrar Novo Produto
					</a>
				</li>
				<li>
					<a href="other-user-profile.html">
						<i class="icon-inbox"></i>
						Gerenciar Produtos
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="collapsed" data-toggle="collapse" href="#togglesetor">
				<i class="menu-icon icon-flag"></i>
				<i class="icon-chevron-down pull-right"></i>
				<i class="icon-chevron-up pull-right"></i>Setor | Segmento
			</a>
			<ul id="togglesetor" class="collapse unstyled">
				<li>
					<a href="{{path_for('auth.painel.setorsegmento')}}">
						<i class="icon-inbox"></i>
						Cadastrar Setor | Segmento
					</a>
				</li>
				<li>
					<a href="other-user-profile.html">
						<i class="icon-inbox"></i>
						Gerenciar Setor | Segmento
					</a>
				</li>
			</ul>
		</li>
	</ul>
	<!-- FIM DO 2 SIDEBAR -->

	<ul class="widget widget-menu unstyled">

		<li>
			<a href="{{path_for('auth.signout')}}">
				<i class="menu-icon icon-signout"></i>SAIR
			</a>
		</li>
	</ul>
</div>
<!--/.sidebar-->
